<h1 style="color:mediumseagreen;text-align:center;font-weight:bold;">About Us</h1>
<br />
<section>
    <div class="container">
        <div class="row">
            <img src="/DevImages/TommyImage.jpg" width="500" height="1000" class="col-2" />
            <div class="col-2">Text</div>
        </div>
        <br />
        <div class="row">
            <img src="/DevImages/GabeImage.jpg" width="500" height="1000" class="col-2" />
            <div class="col-2">Text</div>
        </div>
        <br />
        <div class="row">
            <img src="/DevImages/BrianImage.jpg" width="500" height="1000" class="col-2" />
            <div class="col-2">Text</div>
        </div>
    </div>
</section>