@*
    @{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
*@

<h1>Test Email Verification</h1>
<form action="" method="get">
    <p>Please enter your valid .edu email</p>
    <input type="text" placeholder="Enter your email"/>
    <button type="submit">Submit Email</button>
    <input type="hidden" id="header" name="header" value="KeyGoesHere" />
</form>

