<style>
    #WebsiteName{
        color: mediumseagreen;
        font-weight: bold;
        text-align: center;
    }

    body{
        background-image: url("../../SiteImages/loginBackground2.jpg");
    }

    .container3 {
        border: double;
        width: 30%;
        margin: auto;
        text-align: center;
        background-color: white;

        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    button {
        width: 30%;
        height: 30px;
        background-color: mediumseagreen;
        text-align: center;
        font-weight: bold;
        color: white;
        border-color: mediumseagreen;
        border-style: groove;
    }
</style>

<div class="container2">
    <div class="container3">
        <h1 id="WebsiteName">MeetGreet</h1>
        <br /><br /><br />

        <label for="email"><b>Email:</b></label><br />
        <input name="email" type="text" placeholder="Enter email" required />

        <br />
        <br />

        <label for="password"><b>Password:</b></label><br />
        <input name="password" type="text" placeholder="Enter password" required />
        <br />
        <label><a href="#"><b style="font-size:9px;">Trouble logging in?</b></a></label>

        <br /><br />
        <button>Sign In</button>
        <br />
        <label><a href="#"><b>Create An Account</b></a></label>
    </div>
</div>