

<div class="InfoForm">
    <form action="" method="post">
        <label>Event Name</label>
        <br />
        <input type="text" placaeholder="Event Name"/>
        <br />
        <label>Event Description</label>
        <br />
        <textarea></textarea>
        <br />
        <label>Street Address</label>
        <br />
        <input type ="text" />
        <br />
        <label>City</label>
        <br />
        <input type="text" />
        <br />
        <label>Zip Code</label>
        <br>
        <input type="text" />
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>



